<template>
    <div>
        <b-form @submit="submitForm">
            <b-row>
                <b-col lg="5" class="mb-3">
                    <b-input-group prepend="Логин">
                        <b-form-input v-model="name" placeholder="Введите логин"></b-form-input>
                    </b-input-group>
                </b-col>
                <b-col lg="5" class="mb-3">
                    <b-input-group prepend="Пароль">
                        <b-form-input ref = "input" type="password" v-model="password" placeholder="Введите пароль"></b-form-input>
                    </b-input-group>
                </b-col>
                <b-col lg="2" class="mb-3">
                    <b-button type="submit" variant="primary">{{ buttonLabel }}</b-button>
                </b-col>
            </b-row>
        </b-form>

        <div v-if="errors">
            <template v-for='(errorList,key) in errors'>
                <b-alert v-for="(error,key2) in errorList" :key="key+key2" show variant="danger">{{ error }}</b-alert>
            </template>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        props: {
            action: {
                default: 'auth',
            },
            buttonLabel: {
                default: 'Войти',
            }
        },
        data() {
            return {
                name: '',
                password: '',
                errors: [],
            };
        },
        methods: {
            submitForm: function (e) {
                e.preventDefault();

                this.errors = [];
                axios.post(
                    '/' + this.action
                    ,
                    {
                        name: this.name,
                        password: this.password
                    }
                )
                    .then(response => {
                        if (response.data.errors) this.errors = response.data.errors;
                        else {
                            this.$store.commit('auth', response.data.user);
                            this.$router.push({name: 'main'});
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>