<template>
    <div>
        <Title title="Регистрация"></Title>

        <AuthRegisterForm action="register" buttonLabel="Регистрация"></AuthRegisterForm>
    </div>
</template>
<script>
    import Title from '../../../components/Title';
    import AuthRegisterForm from '../forms/AuthRegisterForm';

    export default {
        components: {
            Title,
            AuthRegisterForm
        }
    }
</script>