<template>
    <div>
        <template v-if="$store.state.user">
            <BooksPage></BooksPage>
        </template>
        <template v-else>
            <Title title="Добро пожаловать!"></Title>
             Вы можете
            <router-link :to="{name:'auth'}">авторизироваться</router-link>
            или
            <router-link :to="{name:'register'}">зарегистрироваться</router-link>
            для дальнейшей работы.
        </template>

        <router-view></router-view>
    </div>
</template>
<script>
    import Title from '../components/Title';
    import BooksPage from '../modules/book/pages/BooksPage';

    export default {
        components: {
            Title,
            BooksPage
        }
    }
</script>