<template>
    <div>
        <Title title="Книги"></Title>

        <BooksList></BooksList>
    </div>
</template>
<script>
    import Title from '../../../components/Title';
    import BooksList from '../BooksList';

    export default {
        components: {
            Title,
            BooksList
        }
    }
</script>