<template>
    <div>
        <Title title="Добавление книги"></Title>

        <CreateEditBookForm></CreateEditBookForm>
    </div>
</template>
<script>
    import Title from '../../../components/Title';
    import CreateEditBookForm from '../CreateEditBookForm.vue';

    export default {
        components: {
            Title,
            CreateEditBookForm
        }
    }
</script>