<template>
    <div>
        <div class="preloader" v-if="$store.state.preloader">
            <div class="h1">Загрузка...</div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <b-navbar toggleable="md" type="dark" variant="info">

                        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

                        <b-navbar-brand href="#" v-on:click="clickNeorix">NEORIX</b-navbar-brand>

                        <b-collapse is-nav id="nav_collapse">
                            <b-navbar-nav class="ml-auto">
                                <Link title="Главная" link="main"></Link>
                                <template v-if="$store.state.user == null">
                                    <Link title="Регистрация" link="register"></Link>
                                    <Link title="Авторизация" link="auth"></Link>
                                </template>
                                <li v-if="$store.state.user" class="nav-item">
                                    <a v-on:click="logout" class="nav-link"
                                       href="/">{{ $store.state.user.name}} | Выход</a>
                                </li>
                            </b-navbar-nav>
                        </b-collapse>
                    </b-navbar>

                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import 'bootstrap/dist/css/bootstrap.css';
    import 'bootstrap-vue/dist/bootstrap-vue.css';
    import axios from 'axios';

    import Link from './Link';

    export default {
        data() {
            return {
                posts: [],
                ok: this.$store.state.count > 0,
            }
        },
        methods: {
            clickNeorix: function (event) {
                this.$router.push({name: 'main'});
            },
            logout: function (event) {
                event.preventDefault();
                axios.post('/logout').catch(function (error) {
                    console.log(error)
                });
                this.$store.commit('logout');
                this.$router.push({name: 'main'});
            }
        },
        components: {
            Link
        },
        created() {
            axios.post(
                '/get-user'
            )
                .then(response => {
                    this.$store.commit('auth', response.data.user);
                    let $this = this;

                    setTimeout(function () {
                        $this.$store.commit('preloaderHide');
                    }, 1200);
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    }
</script>