<template>
    <li class="nav-item">
        <router-link class = "nav-link" :to="{name: this.link}">{{ this.title}}</router-link>
    </li>
</template>
<script>
    export default {
        props: ['title','link']
    }
</script>