<template>
    <div>
        <Waiter v-if="waiter"></Waiter>

        <b-form-group horizontal label="Поиск" class="mb-4">
            <b-input-group>
                <input class="form-control" @input="search" placeholder="Введите текст от 3 символов">
            </b-input-group>
        </b-form-group>

        <router-link class="btn btn-success" :to="{name:'createBook'}">Добавить новую книгу</router-link>

        <template v-if="$store.state.books.length > 0">
            <div class="table-responsive" >
                <b-table striped hover
                         :items="$store.state.books"
                         :fields="fields"
                         :current-page="currentPage"
                         :per-page="perPage"
                >
                    <template slot="cover" slot-scope="data">
                        <b-img :src="imagePath(data.value)" :alt="altCover(data.item.title)" width="75" height="75"/>
                    </template>
                    <template slot="title" slot-scope="data">
                        {{ data.value }}
                        <template v-if="$store.state.user.id == data.item.user_id">
                            |
                            <router-link :to="{name:'editBook', params: { id: data.item.id }}">Редактировать
                            </router-link>
                        </template>
                    </template>
                    <template slot="genre" slot-scope="data">
                        {{ data.value }}
                    </template>
                </b-table>
            </div>

            <b-row v-if="$store.state.books.length > 10">
                <b-col md="6" class="my-1">
                    <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>
                </b-col>
            </b-row>
        </template>
        <div class="font-weight-bold mt-3" v-else>В данный момент книг нет или они не найдены по поисковому запросу.</div>
    </div>
</template>
<script>
    import axios from 'axios';
    import CreateEditBookForm from './CreateEditBookForm';
    import Waiter from '../../components/Waiter';
    import {pathPublicImage} from '../../other/Main';

    export default {
        data () {
            return {
                fields: [{
                    key: 'cover',
                    label: 'Обложка'
                }, {
                    key: 'title',
                    label: 'Название'
                }, {
                    key: 'genre',
                    label: 'Жанр'
                }, {
                    key: 'author',
                    label: 'Автор'
                }],
                currentPage: 1,
                perPage: 10,
                totalRows: 0,
                waiter: true
            }
        },
        components: {
            CreateEditBookForm,
            Waiter
        },
        created() {
            this.getBooks();
        },
        methods: {
            getBooks: function (pathString) {
                pathString = (pathString || '');
                this.waiter = true;
                axios.post('/books',
                    {
                        pathString: pathString
                    }
                )
                    .then(response => {
                        let books = (response.data.books || []),
                            $this = this;
                        setTimeout(function () {
                            $this.$store.commit('books', books);
                            $this.totalRows = $this.$store.state.books.length;
                            $this.waiter = false;
                        }, 1000);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            altCover: function (titleBook) {
                return 'Облжожка книги "' + titleBook + '"';
            },
            imagePath: function (path) {
                return pathPublicImage(path);
            },
            search ({type, target}) {
                if (target.value.length > 2 || target.value == '') this.getBooks(target.value);
            }
        }
    }
</script>