<template>
    <div>

        <template v-if="waiter">
            <Waiter></Waiter>
        </template>
        <template v-else>
            <b-form @submit="submitForm">
                <b-row>
                    <b-col lg="6" class="mb-3">
                        <b-input-group prepend="Название">
                            <b-form-input v-model="title" placeholder="Введите название"></b-form-input>
                        </b-input-group>
                    </b-col>
                    <b-col lg="6" class="mb-3">
                        <b-input-group prepend="Автор">
                            <b-form-input v-model="author" placeholder="Введите автора"></b-form-input>
                        </b-input-group>
                    </b-col>
                </b-row>

                <b-col lg="3" class="mb-3">
                    <div class="font-weight-bold">Жанр:</div>
                    <b-form-select v-model="selectedGenre" :options="genres" class="mb-3"/>
                </b-col>

                <b-col lg="3" class="mb-3">
                    <div class="font-weight-bold">Обложка:</div>
                    <b-form-file v-model="imageFile" :state="Boolean(imageFile)" @input="previewImage"
                                 placeholder="Загрузите обложку..." accept="image/*"></b-form-file>

                    <input type="file" id="file" ref="myFiles" class="custom-file-input"
                           @change="previewImage">
                    <template v-if="imagePath">
                        <b-img thumbnail :src="imageUrl()" alt="Загруженная картинка"/>
                    </template>
                </b-col>

                <b-col lg="2" class="mb-3">
                    <b-button type="submit" variant="primary">{{ buttonLabel }}</b-button>
                </b-col>
            </b-form>

            <b-alert
                    v-if="success"
                    :show="dismissCountDown"
                    dismissible
                    fade
                    variant="success"
                    @dismissed="dismissCountDown"
                    @dismiss-count-down="countDownChanged">
                <template v-if="edit">
                    Сохранение прошло успешно
                </template>
                <template v-else>
                    Добавление прошло успешно
                </template>
            </b-alert>

            <div v-if="errors">
                <template v-for='(errorList,key) in errors'>
                    <b-alert v-for="(error,key2) in errorList" :key="key+key2" show variant="danger">{{ error }}
                    </b-alert>
                </template>
            </div>
        </template>
    </div>
</template>
<script>
    import axios from 'axios';
    import {pathPublicImage} from '../../other/Main';
    import Waiter from '../../components/Waiter';

    export default {
        props: {
            edit: {
                default: false
            }
        },
        components: {
            Waiter
        },
        data() {
            return {
                waiter: true,
                id: 0,
                title: '',
                author: '',
                genres: [],
                selectedGenre: '',
                imagePath: '',
                imageFile: null,
                action: 'create',
                buttonLabel: 'Добавить',
                errors: [],
                success: false,
                dismissCountDown: 0,
                showDismissibleAlert: false
            };
        },
        created() {
            axios.post('/genres')
                .then(response => {
                    if (response.data.errors) this.errors = response.data.errors;
                    else {
                        this.genres = [];

                        let genresArray = JSON.parse(response.data.genres), prop, num = 0;
                        for (prop in genresArray) {
                            if (num == 0 && this.edit == false) this.selectedGenre = genresArray[prop]['title'];
                            this.genres.push({
                                value: genresArray[prop]['title'],
                                text: genresArray[prop]['title']
                            });
                            num++;
                        }
                        this.waiter = false;
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });

            if (this.edit) {
                this.action = this.$route.params.id + "/update";
                this.buttonLabel = 'Сохранить';

                if (this.$store.state.books.length > 0) for (let prop in this.$store.state.books) {
                    if (this.$store.state.books[prop]['id'] == this.$route.params.id) {
                        this.id = this.$store.state.books[prop]['id'];
                        this.title = this.$store.state.books[prop]['title'];
                        this.author = this.$store.state.books[prop]['author'];
                        this.selectedGenre = this.$store.state.books[prop]['genre'];
                        this.imagePath = this.$store.state.books[prop]['cover'];
                        break;
                    }
                } else {
                    this.waiter = true;
                    axios.post(
                        '/books/' + this.$route.params.id,
                        {
                            id: this.$route.params.id
                        }
                    )
                        .then(response => {
                            if (response.data.errors) this.errors = response.data.errors;
                            else {
                                let book = JSON.parse(response.data.book);
                                this.id = book['id'];
                                this.title = book['title'];
                                this.author = book['author'];
                                this.selectedGenre = book['genre'];
                                this.imagePath = book['cover'];
                                this.waiter = false;
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            }
        },
        methods: {
            submitForm: function (e) {
                e.preventDefault();

                this.errors = [];

                let formData = new FormData();

                formData.append('id', this.id);
                formData.append('user_id', this.$store.state.user.id);
                formData.append('title', this.title);
                formData.append('genre', this.selectedGenre);
                formData.append('author', this.author);
                formData.append('cover', this.imageFile);

                axios.post(
                    '/books/' + this.action,
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                )
                    .then(response => {
                        if (response.data.errors) this.errors = response.data.errors;
                        else {
                            this.success = true;
                            this.countDownChanged(3);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            previewImage: function (imageFile) {
                this.imageFile = imageFile;
                this.imagePath = URL.createObjectURL(imageFile);

            },
            imageUrl: function () {
                return pathPublicImage(this.imagePath);
            },
            countDownChanged (dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            }
        }
    }
</script>